{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "rules": {
    "import/extensions": [0], // we don't want to add .js or .jsx to all import statements
    "jsx-a11y/href-no-hash": [0], // deprecated rule but dependencies required this line or else errors
    "jsx-a11y/no-static-element-interactions": [0],
    "jsx-a11y/no-noninteractive-element-interactions": [0],
    "no-return-assign": [0], // redux reducers use return-assignment
    "react/no-typos": [0], // eslint thinks some of our variable names are typos
    "semi": [2, "never"] // death to all semi-colons!!!
  }
}
